body{
    background-color: black;
    color: white;
    text-align: center;
    
}
#about{
    text-align: center;
    background-image: linear-gradient(rgba( 0, 0, 0, 0.781), rgba(0, 0, 0, 0.788)), url('https://bit.ly/2vqNSBP');
    opacity:1;
    background-repeat:no-repeat;
    color :white;
    background-position:center;
}
#home h1{
    font-family: 'Parisienne',
}
nav>ul{
    text-align: right;
    float: right;
}
ul>li{
        display: inline-block;
        text-align:right; 
        font-size: 30px;
        margin-right: 10px;
}
nav>ul>li>a:hover{
    color:white;
    text-decoration:none;
    background-color:yellow;
}
    

