#about{
    text-align: center;
    background-image: linear-gradient(rgba( 0, 0, 0, 0.781), rgba(0, 0, 0, 0.788)), url('https://bit.ly/2I2FxHm');
    opacity:1;
    background-repeat:no-repeat;
    color :white;
    background-size: 1500px 500px
}